body {
  font-family: 'Montserrat',sans-serif;
  color: #ebebeb; }

.gradient {
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-radial-gradient(center bottom, ellipse cover, #3c3c3c 0%, #1b1b1b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center bottom, 0px, center center, 100%, color-stop(0%, #3c3c3c), color-stop(100%, #1b1b1b));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center bottom, ellipse cover, #3c3c3c 0%, #1b1b1b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center bottom, ellipse cover, #3c3c3c 0%, #1b1b1b 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center bottom, ellipse cover, #3c3c3c 0%, #1b1b1b 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center bottom, #3c3c3c 0%, #1b1b1b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#1b1b1b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.blue {
  color: #2fb5ee; }

.blue-background {
  background-color: #2fb5ee; }

footer {
  position: fixed;
  bottom: 0;
  padding-left: 15px;
  background: #fff;
  border-bottom: 11px solid #898989;
  height: 96px;
  width: 100%;
  z-index: 30; }
  footer .tell-us-why {
    color: #898989;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #dbdbdb;
    background-image: url("images/footer_arrow.png");
    background-position: right;
    background-repeat: no-repeat;
    height: 85px; }
    footer .tell-us-why p {
      font-size: 25px;
      line-height: 85px; }
  footer .twitter-widget {
    line-height: 85px;
    color: #000; }
  footer .social-buttons {
    line-height: 85px;
    color: #717171;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    padding-right: 30px; }
    footer .social-buttons a:hover {
      text-decoration: none; }
    footer .social-buttons .icon {
      display: inline-block;
      background-color: #279cd1;
      width: 32px;
      height: 32px;
      color: #fff;
      line-height: 32px;
      text-align: center;
      margin-left: 5px;
      box-sizing: border-box;
      transition: 0.25s all; }
      footer .social-buttons .icon:hover {
        color: #279cd1;
        background: #fff; }
      footer .social-buttons .icon i {
        font-size: 16px;
        line-height: 32px; }

#copyright {
  position: fixed;
  bottom: 100px;
  z-index: 90;
  padding-top: 15px;
  padding-left: 50px;
  opacity: 0.4;
  font-size: 12px; }
  #copyright a {
    color: #fff; }

#slide-1-container {
  min-height: 900px;
  position: relative; }
  #slide-1-container .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-color: #000;
    margin-left: -15px;
    z-index: 9; }

#slide-1 {
  position: relative;
  min-height: 900px; }
  #slide-1 .logos {
    margin-top: 60px; }
    #slide-1 .logos li {
      list-style: none;
      float: left;
      height: 176px;
      position: relative;
      width: 222px; }
      #slide-1 .logos li img {
        position: absolute;
        bottom: 0; }
    #slide-1 .logos li + li {
      margin-left: 30px; }
  #slide-1 .donation-promise {
    font-size: 32px;
    padding-top: 110px;
    padding-left: 40px;
    position: relative;
    z-index: 5; }
    #slide-1 .donation-promise a {
      transition: 0.25s all; }
    #slide-1 .donation-promise a:hover {
      opacity: 0.8; }
  #slide-1 .driver-count {
    background-color: #212121;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 414px;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    color: #969696;
    padding: 10px; }
    #slide-1 .driver-count p {
      margin-bottom: 0; }
  #slide-1 .disclaimer {
    color: #ebebeb;
    font-size: 12px;
    opacity: 0.3;
    padding-top: 15px; }
  #slide-1 .pull-bottom {
    position: absolute;
    bottom: 135px;
    left: 40px;
    z-index: 5; }
    #slide-1 .pull-bottom img {
      margin-right: 35px; }
    #slide-1 .pull-bottom #toyota {
      padding-top: 25px; }
    #slide-1 .pull-bottom p {
      padding-top: 15px;
      opacity: 0.4;
      font-size: 12px; }
      #slide-1 .pull-bottom p a {
        color: #fff; }
  #slide-1 #talent-image {
    position: absolute;
    bottom: 0;
    z-index: 3;
    right: 25%; }
  #slide-1 #talent-quote {
    position: absolute;
    right: 0;
    transition: 0.5s right;
    width: 29%;
    z-index: 9;
    top: 33%;
    font-size: 24px;
    color: #c4c4c4;
    font-family: 'Roboto Slab', serif;
    font-weight: 300; }
    #slide-1 #talent-quote.offscreen {
      right: -30px; }
    #slide-1 #talent-quote cite {
      color: #7b7b7b;
      font-size: 18px;
      text-transform: uppercase;
      font-style: none; }
    #slide-1 #talent-quote .play-button {
      margin-top: 15px;
      box-sizing: border-box;
      color: #fff;
      display: block;
      width: 58px;
      height: 58px;
      border: 2px solid #fff;
      border-radius: 100%;
      text-align: center;
      line-height: 53px;
      padding-left: 5px;
      transition: 0.25s all; }
      #slide-1 #talent-quote .play-button:hover {
        color: #313131;
        background: #fff;
        border: 2px solid #313131; }

#slide-2 {
  position: relative;
  min-height: 480px; }
  #slide-2 .row {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #slide-2 p.large {
    font-size: 44px;
    color: #fff; }
  #slide-2 p.small {
    font-size: 18px;
    color: #fff; }
  #slide-2 p + p {
    margin-top: 30px; }

#slide-3-container {
  background: #2e2e2e; }

#slide-3 {
  min-height: 680px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 28px; }
  #slide-3 .breathe-top {
    margin-top: 40px; }
  #slide-3 h1 {
    font-size: 56px;
    margin-top: 0; }
  #slide-3 .blue {
    color: #219bd1; }
  #slide-3 .center-line {
    border-right: 1px solid #fff; }
  #slide-3 .padding-right {
    padding-right: 60px; }
  #slide-3 .padding-left {
    padding-left: 60px; }
  #slide-3 label {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100; }
  #slide-3 small {
    font-size: 14px;
    text-transform: uppercase;
    color: #959595;
    display: block; }
  #slide-3 input[type=checkbox] {
    margin-top: -8px; }
  #slide-3 .checkbox label {
    opacity: 0.4;
    font-size: 12px;
    text-transform: none; }
  #slide-3 form .row {
    margin-bottom: 10px; }
  #slide-3 .grey {
    line-height: 12px;
    margin-top: -10px; }
  #slide-3 .grey a {
    font-size: 12px;
    color: #fefcfc;
    opacity: 0.4;
    text-decoration: underline; }
  #slide-3 .pledge-amount {
    font-size: 26px; }
  #slide-3 .disclaimer {
    opacity: 0.4;
    font-size: 12px; }

#slide-3-thanks {
  min-height: 680px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  #slide-3-thanks h1 {
    font-size: 36px; }
  #slide-3-thanks .breathe-top {
    margin-top: 40px; }
  #slide-3-thanks .social {
    padding-top: 10px; }
    #slide-3-thanks .social a {
      display: inline-block;
      text-align: center;
      border: 2px solid #279cd1;
      border-radius: 100%;
      height: 52px;
      width: 52px;
      font-size: 24px;
      box-sizing: border-box;
      transition: 0.25s all; }
      #slide-3-thanks .social a:hover {
        color: #fff;
        background: #279cd1; }
      #slide-3-thanks .social a i {
        margin-top: 11px; }
    #slide-3-thanks .social a + a {
      margin-left: 15px; }
  #slide-3-thanks .explore-partners {
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px; }
  #slide-3-thanks .sponsors {
    color: #ebebeb;
    font-size: 14px; }
    #slide-3-thanks .sponsors a {
      color: #279cd1; }
    #slide-3-thanks .sponsors .center-line {
      border-right: 1px solid #6d6d6d; }
    #slide-3-thanks .sponsors .padding-right {
      padding-right: 50px; }
    #slide-3-thanks .sponsors .padding-left {
      padding-left: 50px; }
    #slide-3-thanks .sponsors .padding-top {
      padding-top: 18px; }
    #slide-3-thanks .sponsors p + p {
      margin-top: 30px; }

.form-control {
  border-radius: 0; }

/*# sourceMappingURL=style.css.map */
