@font-face {
    font-family: 'montserratlight';
    src: url('fonts/Montserrat-Light-webfont.eot');
    src: url('fonts/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Light-webfont.woff2') format('woff2'),
         url('fonts/Montserrat-Light-webfont.woff') format('woff'),
         url('fonts/Montserrat-Light-webfont.ttf') format('truetype'),
         url('fonts/Montserrat-Light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin vertical-align-desktop {
  @media screen and (min-width:651px) {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

body {
  font-family:'Montserrat',sans-serif;
  color:#ebebeb;
}

.gradient {
  background: rgb(60,60,60); /* Old browsers */
  background: -moz-radial-gradient(center bottom, ellipse cover,  rgba(60,60,60,1) 0%, rgba(27,27,27,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center bottom, 0px, center center, 100%, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center bottom, ellipse cover,  rgba(60,60,60,1) 0%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center bottom, ellipse cover,  rgba(60,60,60,1) 0%,rgba(27,27,27,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center bottom, ellipse cover,  rgba(60,60,60,1) 0%,rgba(27,27,27,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center bottom,  rgba(60,60,60,1) 0%,rgba(27,27,27,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.blue {
  color:#2fb5ee;
}
.blue-background {
  background-color:#2fb5ee;
}

footer {
  position:fixed;
  bottom:0;
  padding-left:15px;
  background:#fff;
  border-bottom:22px solid #898989;
  height:107px;
  width:100%;
  z-index:30;

  #copyright {
    position:absolute;
    bottom:-19px;
    z-index:90;
    padding-top:15px;
    width:100%;
    margin-bottom:0;
    opacity:0.75;
    padding-left:15px;
    font-size:11px;
    a {
      color:#fff;
    }
  }

  #footer-left {
    position:absolute;
    left:0;
    width:50%;
    background:#dbdbdb;
    height:100%;
    z-index:2;
  }

  .row {
    max-width:1400px;
    margin:0 auto;
    z-index: 3;
    position: relative;
    background: #fff;
    height: 100%;
  }

  .tell-us-why {
    color:#898989;
    font-weight:bold;
    text-transform:uppercase;
    background-color:#dbdbdb;
    background-image:url('images/footer_arrow.png');
    background-position:right;
    background-repeat:no-repeat;
    height:85px;
    p {
      font-size:25px;
      line-height:85px;
    }
  }
  .twitter-widget {
    line-height:85px;
    color:#000;
  }
  .social-buttons {
    line-height:85px;
    color:#717171;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:right;
    padding-right:30px;

    a:hover {
      text-decoration:none;
    }

    .icon {
      display:inline-block;
      background-color:#279cd1;
      width:32px;
      height:32px;
      color:#fff;
      line-height:32px;
      text-align:center;
      margin-left:5px;
      box-sizing:border-box;
      transition:0.25s all;
      &:hover {
        color:#279cd1;
        background:#fff;
      }

      i {
        font-size:16px;
        line-height:32px;
      }
    }
  }
}

#slide-1-container {
  min-height:900px;
  position:relative;
  .footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:96px;
    background-color:#2fb5ee;
    margin-left:-15px;
    z-index:9;
  }
}
#slide-1 {
  position:relative;
  min-height:900px;
  .logos {
    margin-top:60px;
    position:relative;
    z-index:10;
    li {
      list-style:none;
      @media screen and (min-width:1160px) {
        float:left;
      }
      height:176px;
      position:relative;
      width:222px;
      img {
        position:absolute;
        bottom:0;
        max-width:100%;
      }
    }
    li+li {
      margin-left:30px;
    }
  }

  .donation-promise {
    font-family:'montserratlight', sans-serif;
    font-size:32px;
    padding-top:110px;
    padding-left:40px;
    position:relative;
    z-index:5;

    a {
      transition:0.25s all;
    }
    a:hover {
      opacity:0.8;
    }
  }
  .driver-count {
    background-color:#212121;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    max-width:414px;
    font-family: 'Roboto Slab', serif;
    font-size:28px;
    color:#969696;
    padding:10px;
    p {
      margin-bottom:0;
    }
  }
  .disclaimer {
    font-family:'montserratlight', sans-serif;
    color:#ebebeb;
    font-size:12px;
    opacity:0.3;
    padding-top:15px;
  }
  .pull-bottom {
    position:absolute;
    bottom:135px;
    left:40px;
    z-index:5;

    img {
      margin-right:35px;
    }
    #toyota {
      padding-top:25px;
    }

    p {
      padding-top:15px;
      opacity:0.4;
      font-size:12px;
      a {
        color:#fff;
      }
    }
  }

  #talent-1, #talent-2, #talent-3 {
    overflow-x:hidden;
  }
  #talent-image {
    position:absolute;
    bottom:0;
    z-index:3;
    right:25%;
  }
  #talent-quote {
    position: absolute;
    right: 0;
    &.offscreen {
      right:-30px;
    }
    transition:0.5s right;
    width: 29%;
    z-index:9;
    top: 33%;
    font-size: 24px;
    color: #c4c4c4;
    font-family: 'Roboto Slab', serif;
    font-weight:300;

    @media screen and (max-width:768px) {
      p {
        display:none;
      }
    }
    cite {
      color:#7b7b7b;
      font-size:18px;
      text-transform:uppercase;
      font-style:none;
    }

    .play-button {
      margin-top:15px;
      box-sizing:border-box;
      color: #fff;
      display: block;
      width: 58px;
      height: 58px;
      border: 2px solid #fff;
      border-radius: 100%;
      text-align: center;
      line-height: 53px;
      padding-left: 5px;
      transition:0.25s all;

      &:hover {
        color:#313131;
        background:#fff;
        border:2px solid #313131;
      }
    }
  }
}

#slide-2 {
  position:relative;
  min-height:480px;
  .row {
    @include vertical-align;
  }
  p.large {
    font-size:44px;
    color:#fff;
    font-family:'montserratlight', sans-serif;
    strong {
      font-family:'Montserrat', sans-serif;
    }
  }
  p.small {
    font-size:18px;
    color:#fff;
  }
  p+p {
    margin-top:30px;
  }
}

#slide-3-container {
  background:#2e2e2e;
}
#slide-3 {
  min-height:680px;
  @include vertical-align;
  font-family:'montserratlight', sans-serif;
  .breathe-top {
    margin-top:40px;
  }
  p+p {
    margin-top:30px;
  }
  h1 {
    font-size:56px;
    margin-top:0;
  }
  .blue {
    color:#219bd1;
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
  }
  @media screen and (min-width:991px) {
    .center-line {
      border-right:1px solid #fff;
    }
    .padding-right {
      padding-right:60px;
    }
    .padding-left {
      padding-left:60px;
    }
  }
  font-size:28px;

  #form-submit img {
    max-width:100%;
  }

  label {
    font-family:'montserratlight', sans-serif;
    font-size:18px;
    text-transform:uppercase;
    font-weight:100;
  }
  small {
    font-size:14px;
    text-transform:uppercase;
    color:#959595;
    display:block;
  }
  input[type=checkbox] {
    margin-top:-8px;
  }
  .checkbox label {
    opacity:0.4;
    font-size:12px;
    text-transform:none;
  }
  form .row {
    margin-bottom:10px;
  }
  .grey {
    line-height:12px;
    margin-top:-10px;
  }
  .grey a {
    font-size:12px;
    color:#fefcfc;
    opacity:0.4;
    text-decoration:underline;
  }
  .pledge-amount {
    font-size:26px;
  }
  .disclaimer {
    opacity:0.4;
    font-size:12px;
  }
}

#slide-3-thanks {
  font-family:'montserratlight', sans-serif;
  min-height:680px;
  @include vertical-align;
  h1 {
    font-size:36px;
  }
  .breathe-top {
    margin-top:40px;
  }
  .social {
    padding-top:10px;
    a {
      display:inline-block;
      text-align:center;
      border:2px solid #279cd1;
      border-radius:100%;
      height:52px;
      width:52px;
      font-size:24px;
      box-sizing:border-box;
      transition:0.25s all;
      &:hover {
        color:#fff;
        background:#279cd1;
      }
      i {
        margin-top:11px;
      }
    }
    a+a {
      margin-left:15px;
    }
  }
  .explore-partners {
    font-size:18px;
    padding-left:50px;
    padding-right:50px;
  }
  .sponsors {
    color:#ebebeb;
    font-size:14px;
    a {
      color:#279cd1;
    }
    @media screen and (min-width:991px) {
      .center-line {
        border-right:1px solid #6d6d6d;
      }
      .padding-right {
        padding-right:50px;
      }
      .padding-left {
        padding-left:50px;
      }
      .padding-top {
        padding-top:18px;
      }
    }
    p+p {
      margin-top:30px;
    }
  }
}

#slide-4-container {
  position:relative;

  .social-header {
    position:relative;
    min-height:250px;
    .header-body {
      @include vertical-align;
      font-size:24px;
      h1 {
        margin-top:0;
        font-size:80px;
        font-weight:bold;
        color:#0997ce;
      }
      h2 {
        font-family:'montserratlight', sans-serif;
        font-size:24px;
        margin-top:0;
      }
    }
  }
  #social-container {
    padding-bottom:96px;
    overflow-y:scroll;
  }
}

.form-control {
  border-radius:0;
}

.sidebar-dots {
  position:fixed;
  right:0;
  top:40%;
  height:100%;
  width:30px;
  background:transparent;
  z-index:999;
  a {
    color:#fff;
  }
  a:hover {
    text-decoration:none;
    i {
      opacity:0.7;
    }
  }
  i {
    transition:0.25s all;
    display:block;
    margin-bottom:5px;
    opacity:0.3;
  }
}


@media screen and (min-width:991px) {
  .container {
    width:100%;
    margin-left:-15px;
    margin-right:-15px;
  }
}
@media screen and (max-width:1240px) {
  #slide-1, #slide-1-container {
    min-height:1000px;
  }
  #slide-1 #talent-image {
    right:10%;
  }
  #slide-1 #talent-quote {
    position:relative;
    top:0;
    padding-left:30px;
    width:400px;
    p {
      display:none;
    }
    cite {
      position:absolute;
      top:16px;
      left:100px;
      strong {
        display:block;
      }
    }
    .play-button {
      float:left;
    }
  }
}
@media screen and (max-width:1160px) {
  #slide-1 .logos li {
    height:auto;
    width:auto;
    img {
      position:relative;
      max-width:100%;
      margin-bottom:30px;
    }
  }
  .donation-promise {
    display:none;
  }
  #slide-2 {
    max-width:80%;
    margin:0 auto;
  }
  #talent-quote {
    margin-top:30px;
  }
}
@media screen and (max-width:990px) {
  #slide-3 {
    font-size:26px;
    h1 {
      font-size:26px;
    }
    .center-line {
      text-align:center;
    }
    .breathe-top {
      margin-top:15px;
    }
  }
}
@media screen and (max-width:900px) {
  #slide-1 #talent-image {
    right:0;
    max-width:60%;
    img {
      max-width:100%;
    }
  }
  #slide-1, #slide-1-container {
    min-height:730px;
  }
}
@media screen and (max-width:650px) {
  #slide-1, #slide-1-container {
    min-height:480px;
  }
  #slide-1 .logos {
    margin-left:0;
    padding-left:0;
    li+li {
      margin-left:0;
    }
  }
  #slide-1 #talent-image {
    max-width:50%;
    bottom:-10px;
  }
  #slide-1 .sponsor-logos {
    display:none;
  }
  #slide-1 #talent-quote {
    padding-left:0;
    margin-top:0;
    .play-button {
      width:38px;
      height:38px;
      font-size:18px;
      line-height:33px;
    }
    cite {
      top:15px;
      font-size:11px;
      left:50px;
    }
  }
  #slide-1-container .footer {
    height:20px
  }
  #slide-2 {
    min-height:100px;
    p.large {
      font-size:20px;
    }
    .row {
      margin-top:30px;
      margin-bottom:30px;
    }
  }
  #slide-4-container .social-header .header-body h1 {
    font-size:40px;
  }
}
@media screen and (max-width:400px) {
  #slide-1, #slide-1-container {
    min-height:400px;
  }
  #slide-1 .logos {
    margin-top:30px;
  }
  #slide-1 #talent-quote {
    margin-top:0;
  }
  #slide-1 #talent-image {
    bottom:-10px;
    max-width:65%;
  }
  #slide-1-container .footer {
    height:20px
  }
}
@media screen and (min-width:768px) {
  .container {
    width:100%;
  }
}
@media screen and (min-width:1400px) {
  .container {
    width:1400px;
    margin:0 auto;
  }
}



.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.ekko-lightbox-nav-overlay a:empty {
  width: 49%;
}

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}

.ekko-lightbox .modal-footer {
  text-align: left;
}

.modal-content {
  background-color:#000;
}
.modal-header .close {
  margin-top: -2px;
  color: #fff;
  opacity: 0.6;
  border: 2px solid rgba(255,255,255,0.7);
  font-size: 28px;
  border-radius: 100%;
  display: block;
  width: 32px;
  height: 32px;
}
.modal-header {
  border-bottom:none;
}
